.cargando{
    margin: 34vh auto 0 auto;
    width: 200px;
    height: 200px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid var(--first-color);
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

@keyframes girar {
    from{rotate: 0deg;}
    to{rotate: 360deg;}
}