
:root {
    --first-color: #ff6f61;
    --first-alpha-color: rgba(255, 111, 97, .75);
    --second-color: #2b2d42;
    --second-alpha-color: rgba(43, 45, 66, .75);
    --third-color: #8d99ae;
    --third-alpha-color: rgba(141, 153, 174, .75);


    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, .5);
    --black-alpha-color: rgba(0, 0, 0, .5);

    --font: "Raleway", sans-serif;

    --max-width: 1200px;
    --header-height: 4rem;
}


html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: var(--link-color);
    transition: all .05s ease-out;
}

a:hover {
    opacity: .75;
}

img {
    max-width: 100%;
    height: auto;
}


p {
    line-height: 1.6;
}


h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: .85rem;
}

h6 {
    margin: 0;
    font-size: .7rem;
}

/* HeroImage */
.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--opacity-color);
}

.hero-image-content {
    width: 100%;
    min-width: 320px;
}

/* Section Title */
.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--title-color);
}

/* Carousel */
.carousel {
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 800px;
    text-align: center;
    overflow-x: hidden;
    background-color: var(--carousel-bg-color);
}

.carousel .slides {
    padding-left: 0;
    width: 400%;
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
}

.carousel input {
    display: none;
}

.carousel label {
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    margin: 0 0.25rem;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
}

#slide-1:checked ~ .slides {
    transform: translateX(0%);
}

#slide-2:checked ~ .slides {
    transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
    transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
    transform: translateX(-75%);
}

.slides-nav label {
    background-color: var(--gray-light-color);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
    background-color: var(--gray-dark-color);
}

/* Slide */
.slide {
    flex: 0 0 25%; /* Cada slide ocupa el 25% del ancho */
    text-align: center;
}

.avatar {
    /*  border-radius: 50%; */
    width: 150px;
    height: 100px;
}


blockquote {
    text-align: justify;
    margin: 1rem 0;
    padding: 1rem 2rem;
}

/* Text Color */
.text-first-color {
    color: var(--first-color);
}
