

/* HeroImage */
.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--opacity-color);
}

.hero-image-content {
    width: 100%;
    min-width: 320px;
}

/* Section Title */
.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--title-color);
}

/* Carousel */
.carousel {
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 800px;
    text-align: center;
    overflow-x: hidden;
    background-color: var(--carousel-bg-color);
}

/* 
@keyframes carousel-slide {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }
} */

.carousel .slides {
    padding-left: 0;
    width: 400%;
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
    /* animation: carousel-slide 12s ease-in-out 3s;  */
}

.carousel input {
    display: none;
}

.carousel label {
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    margin: 0 0.25rem;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
}


.slides-nav label {
    background-color: var(--gray-light-color);
}


/* Slide */
.slide {
    flex: 0 0 25%; /* Cada slide ocupa el 25% del ancho */
    text-align: center;
}

.avatar {
    /*  border-radius: 50%; */
    width: 150px;
    height: 100px;
}


blockquote {
    text-align: justify;
    margin: 1rem 0;
    padding: 1rem 2rem;
}

/* Text Color */
.text-first-color {
    color: var(--first-color);
}
