<section id="experiencia" class="testimonials">
    <article class="hero-image" style="--hero-image:url('assets/hero-image-customers.jpg'); --attachment:scroll">
        <aside class="hero-image-opacity" style="--opacity-color:var(--white-alpha-color)">
            <div class="hero-image-content">
                <div class="container">
                    <h2 class=" section-title">Experiencias Profesionales</h2>
                </div>
                <article class="carousel" style="--carousel-bg-color:var(--white-alpha-color)">
             
                    <ul class="slides" [ngStyle]="{'transform': x==1?'translateX(0%)': x==2? 'translateX(-25%)': x==3?'translateX(-50%)':'translateX(-75%)'}">
                        <li class="slide">
                            <img style="width: 190px;height: 100px; margin-left: 7%;" class="avatar" src="assets/customer-1.png" alt="Cliente 1">
                            <blockquote>"Creación de sistemas del lado del front en el
                                Instituto. Estos sistemas
                                incluyen la gestión de usuarios, un sistema de inicio de sesión, subida de
                                documentos, reproducción de videos, entre otros."</blockquote>
                            <h3 class="text-first-color">IEPC Jalisco</h3>
                            <h6><i>Desarrollador Web</i></h6>
                        </li>
                        <li class="slide">
                            <img style="width: 190px;height: 100px; margin-left: 7%;" src="assets/customer-3.jpg"
                                alt="Cliente 2">
                            <blockquote>"Dar soluciones en el campus. Mantenimiento de equipo de
                                computo, instalación de programas e instalación de equipo de computo e impresoras,
                                cambio de piezas de computo, instalación de cableado de red, etc."</blockquote>
                            <h3 class="text-first-color">Universidad de Guadalajara</h3>
                            <h6>Soporte Tecnico</h6>
                        </li>
                        <li class="slide">
                            <img style="width: 120px;height: 120px;" src="assets/customer-4.png" alt="Cliente 1">
                            <blockquote>"Realizar pequeños programas en base a necesidades de
                                los usuarios
                                como trabajadores de la compañia, por
                                ejemplo retools donde se cambia el status de pedidos, visualizar data, agregar
                                ciertos productos, etc."
                            </blockquote>
                            <h3 class="text-first-color">NetaMX</h3>
                            <h6>Desarrollador web</h6>
                        </li>
                        <li class="slide">
                            <img style="width: 120px;height: 120px;" src="assets/customer-4.png" alt="Cliente 2">
                            <blockquote>"Dar soluciónes a problemáticas de los clientes.
                                Consistia por medio de una plataforma donde se recibían por medio de
                                chats a los usuarios con algún problema relacionado a su pedido, entonces
                                dependiendo de su problemática se le daba una solución."</blockquote>
                            <h3 class="text-first-color">NetaMX</h3>
                            <h6>Servicio al cliente</h6>
                        </li>
                    </ul>
                    <div class="position-relative">
                        <button class="position-absolute btn" style="left: 50px; bottom: 10px;" title="Anterior"  (click)="anterior()"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                          </svg></button>
                        <button class="position-absolute btn" style="right: 50px; bottom: 10px;" title="Siguiente"  (click)="siguiente()"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                          </svg></button>
                    </div>
                </article>
            </div>
        </aside>
    </article>
</section>