<section id="acerca" class="about section container full-lg-screen">
    <article class="text-lg-right">
        <aside class=" text-centerr text-lg-right">
            <h2>Oliver Hernandez</h2>
            <h5>Programador <i>Front-End</i></h5>
        </aside>
        <p>Soy graduado de la Universidad de Guadalajara, donde obtuve mi título en Ingeniería en Ciencias
            Computacionales.</p>

        <p>Como desarrollador web <i>Front-End</i> con año y medio de experiencia, me caracterizo en la creación de
            interfaces <i>web</i> atractivas y funcionales.</p>

        <p>Me apasiona escribir código y valoro el aprendizaje continuo que esto conlleva, así como la
            implementación de las mejores prácticas en desarrollo <i>web</i>.</p>

        <p>Soy proactivo y estoy comprometido con el crecimiento profesional, siempre buscando nuevas formas de
            mejorar mis habilidades y contribuir a proyecto.</p>

        <div class="text-centerr text-lg-left">
            <a class="btn anim-bottom to-left" href="assets/Oliver_Hernandez.pdf" download target="_blank">DESCARGA
                MI CV</a>
        </div>
    </article>
    <article>
        <img class="gray-scale cel" src="assets/oliverHernandez.jpg" alt="">
        <div class="none2">
            <article class="flip-card-1">
                <div class="flip-face flip-front">
                    <img class="gray-scale" src="assets/oliverHernandez.jpg" alt="">
                </div>
                <div class="flip-face flip-back">
                    <img src="assets/oliverHernandez.jpg" alt="">
                </div>
            </article>
        </div>

    </article>
    <article>
        <h2 class="text-centerr text-lg-left">Mis Habilidades</h2>
        <div class="progresss">
            <p>
                <b>Desarrollo <i>Web Frontend</i></b>
                <b>90%</b>
            </p>
            <progress value="85" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b> <i>AngularJS</i></b>
                <b>85%</b>
            </p>
            <progress value="85" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>HTML 5</i></b>
                <b>90%</b>
            </p>
            <progress value="90" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>CSS</i></b>
                <b>85%</b>
            </p>
            <progress value="90" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>JS</i></b>
                <b>80%</b>
            </p>
            <progress value="90" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>Git</i></b>
                <b>85%</b>
            </p>
            <progress value="90" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>Bootstrap</i></b>
                <b>85%</b>
            </p>
            <progress value="85" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>Inglés</i></b>
                <b>70%</b>
            </p>
            <progress value="70" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>Bootstrap</i></b>
                <b>85%</b>
            </p>
            <progress value="85" min="0" max="100"></progress>
        </div>
        <div class="progresss">
            <p>
                <b><i>Bases de Datos</i></b>
                <b>60%</b>
            </p>
            <progress value="60" min="0" max="100"></progress>
        </div>
    </article>
</section>