<section id="inicio" class="home">
    <article class="hero-image" style="--hero-image:url('assets/hero-image-home.jpg'); --attachment:fixed">
        <aside class="hero-image-opacity" style="--opacity-color:var(--black-alpha-color)">
            <div class="hero-image-content">
                <h2 class="hero-image-title" style="--hero-text-color:var(--white-color)">Bienvenidos<br>a mi sitio
                </h2>
                <a href="contacto" class="btn anim-bottom to-left">CONTÁCTAME</a>
            </div>
        </aside>
    </article>
</section>