
:root {
    --first-color: #ff6f61;
    --first-alpha-color: rgba(255, 111, 97, .75);
    --second-color: #2b2d42;
    --second-alpha-color: rgba(43, 45, 66, .75);
    --third-color: #8d99ae;
    --third-alpha-color: rgba(141, 153, 174, .75);


    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, .5);
    --black-alpha-color: rgba(0, 0, 0, .5);

    --font: "Raleway", sans-serif;

    --max-width: 1200px;
    --header-height: 4rem;
}


html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: var(--link-color);
    transition: all .05s ease-out;
}

a:hover {
    opacity: .75;
}

img {
    max-width: 100%;
    height: auto;
}


p {
    line-height: 1.6;
}


h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: .85rem;
}

h6 {
    margin: 0;
    font-size: .7rem;
}


blockquote {
    text-align: justify;
}



.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--opacity-color);
}

.hero-image-title {
    font-size: 6vw;
    color: var(--hero-text-color);
    font-weight: 700;
}

.hero-image-content {
    width: 100%;
    min-width: 320px;
}



.btn {
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    height: auto;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
    position: relative;

    cursor: pointer;
    overflow: hidden;
}

.anim-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: .25rem;
    background-color: var(--second-color);
    transition: width 1s ease, left .5s ease, right .5s ease;
}

.anim-bottom:hover:after {
    width: 100%;
}

.to-left::after {
    left: 0;
}